@font-face {
    font-family: Oswald;
    font-weight: light;
    src: url(/css/web/Oswald-Light.woff2);
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src: url(/css/web/Oswald-Medium.woff2);
}

@font-face {
    font-family: Courgette;
    font-weight: normal;
    src: url(/css/web/Courgette-Regular.woff2);
}



@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    src: url(/css/web/OpenSans-Regular.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: italic;
    src: url(/css/web/OpenSans-Italic.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url(/css/web/OpenSans-Bold.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url(/css/web/OpenSans-BoldItalic.woff2);
}



@font-face {
    font-family: Merriweather;
    font-weight: normal;
    font-style: normal;
    src: url(/css/web/Merriweather-Regular.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: normal;
    font-style: italic;
    src: url(/css/web/Merriweather-Italic.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    font-style: normal;
    src: url(/css/web/Merriweather-Bold.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    font-style: italic;
    src: url(/css/web/Merriweather-BoldItalic.woff2);
}


@font-face {
    font-family: Dorsal;
    font-weight: bold;
    font-style: italic;
    src: url(/css/web/dorsal.woff2);
}